%footer.footer
  .container
    %p.text-muted
      = icon("copyright")
      = "#{Time.now.year}"
      BaitaiDB
    %p.text-muted
      Built by the BaitaiDB team at
      %a{ href: "//hackeryou.com" } HackerYou
